*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:black;
color:white;
line-height:1.6;
padding-bottom:70px;
}

header{
background:#111;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
z-index:1000;
}

header h1{
color:gold;
}

nav a{
color:gold;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:white;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
url('https://images.unsplash.com/photo-1600585154340-be6161a56a0c');
background-size:cover;
}

.main-logo{
width:220px;
margin-bottom:20px;
}

.hero h2{
font-size:45px;
color:gold;
}

.gold-btn{
background:linear-gradient(to right,#d4af37,#ffd700);
color:black;
padding:15px 35px;
border-radius:30px;
text-decoration:none;
font-weight:bold;
margin-top:20px;
}

.badge-section{
padding:25px;
text-align:center;
background:#111;
}

.badge{
background:linear-gradient(to right,#b8860b,#ffd700);
color:black;
padding:15px;
border-radius:30px;
font-weight:bold;
}

section{
padding:60px 20px;
text-align:center;
}

.card-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.card{
background:#222;
padding:25px;
border-radius:12px;
width:250px;
box-shadow:0 0 15px rgba(255,215,0,0.5);
font-weight:bold;
}

.calc-box input{
padding:10px;
margin:10px;
border:none;
border-radius:8px;
}

.calc-box button{
padding:10px 20px;
background:gold;
border:none;
border-radius:8px;
cursor:pointer;
}

.review-card{
background:#222;
padding:20px;
margin:20px auto;
max-width:500px;
border-radius:15px;
box-shadow:0 0 10px gold;
}

.booking-form{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
}

.booking-form input,
.booking-form textarea{
margin:10px 0;
padding:12px;
border-radius:8px;
border:none;
}

.booking-form button{
background:gold;
color:black;
padding:12px;
border:none;
border-radius:8px;
cursor:pointer;
}

#map iframe{
border-radius:15px;
box-shadow:0 0 15px gold;
}

footer{
background:#111;
text-align:center;
padding:20px;
}

.whatsapp{
position:fixed;
bottom:80px;
right:20px;
background:#25D366;
color:white;
font-size:28px;
padding:15px 18px;
border-radius:50%;
text-decoration:none;
}

.bottom-bar{
position:fixed;
bottom:0;
left:0;
width:100%;
display:flex;
}

.call-btn{
flex:1;
background:#111;
color:gold;
text-align:center;
padding:15px;
text-decoration:none;
font-weight:bold;
}

.wa-btn{
flex:1;
background:#25D366;
color:white;
text-align:center;
padding:15px;
text-decoration:none;
font-weight:bold;
}
